<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        
            <div class="container">

                    <div class="top">
                        <!-- <div id="clock">8:10:45</div>  -->
                        <p>Current Date: <strong><%= timeOfDay %></strong></p>
                                <div class="header">
                                    <img src="/images/logo.png" alt="code center logo" width="150" height="150">
                                    <h1>The Code Center</h1>
                                     <h3>....Learn2Code</h3>
                                </div>
                                
                                <div class="nav">
                                    <a href="/">Home</a>
                                    <a href="/about">About Us</a>
                                    <a href="/course">Courses</a>
                                    <a href="/contact">Contact Us</a>
                                    <a href="/register">Registration</a>

                                </div>
                    </div><!--End of Top div-->
                    <div class="content">
