<% title = "TCC | Courses" %>

<%- includ("partials/header") %>

<h3>Our COURSES</h3>

<img src="images/mobile.jpg" alt="">
<h3>Mobile Development</h3>
<hr>

<img src="images/WebDev.jpg" alt="">
<h3>Web Development</h3>
<hr>

<img src="images/UX.jpg" alt="">
<h3>UI/UX Development</h3>
<hr>

<img src="images/DataScience.jpg" alt="">
<h3>Data Science</h3>
<hr>

<img src="images/FrontendeDevelopment.jpg" alt="">
<h3>Frontend Development</h3>
<hr>

<img src="images/JavaProgramming.jpg" alt="">
<h3>Java JavaProgramming</h3>
<hr>

<%-include('partials/footer')%>




