
<%title = "The Code Center | Home" %>
<%- include('partials/header') %>

                        <h1>Welcome to code center</h1>
                        <p>We teach people how to code, helping them develop a successful career</p>
                        <a href="/course">
                            <h3>Our Programs</h3>
                            <ul>
                                <li>Web Development</li>
                                <li>User Experience Design</li>
                                <li>Data Science</li>
                                <li>Data Science</li>
                                <li>Frontend Development</li>
                            </ul>
                        </a>
<%- include('partials/footer')%>
                  
                    